body {
  margin: 0;

  /* BEGIN (write your solution here) */
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  font-family: sans-serif;
  
  /* END */
}

/* Стили для заголовка *h1*:
Внешний отступ сверху: 50 пикселей.
Внешний отступ снизу: 10 пикселей.
Размер текста: 60 пикселей.
Выравнивание текста: по центру. */
h1 {
  margin: 50px 0 10px 0;
  font-size: 60px;
  text-align: center;
}

/* END */

h2 {
  /* Стили для заголовка *h2*:
Внешний отступ сверху: 0 пикселей.
Внутренний отступ снизу: 30 пикселей.
Размер текста: 25 пикселей.
Выравнивание текста: по центру. */
  margin: 0;
  padding:0 0 30px 0;
  text-align: center;
  font-size: 25px;
  /* END */

  border-bottom: 2px solid #e3e3e3;
}



/* BEGIN (write your solution here) 
Стили для секций:
Внешние отступы: по 50 пикселей сверху и снизу. 0 пикселей слева и справа.
Внутренние отступы: по 50 пикселей слева и справа. 0 пикселей сверху и снизу.

Стили для заголовков внутри секций:

Внутренние отступы: 0 пикселей.
Выравнивание текста: по левому краю.
Граница отсутствует.

Стили для элементов списка:
Внешний отступ снизу: 10 пикселей.*/
section {
  margin: 50px 0 50px 0;
  padding: 0 50px 0 50px;
  
}
section > h2{
  padding: 0;
  text-align: left;
  border: none;
}

li {
  margin:0 0 10px 0;
}

/* END */

